/* Global styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles */
header {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigation bar styles */
#navbar {
    display: flex;
    justify-content: space-around; 
    background-color: #333; 
    width: 100%; 
    padding-left: 0; 
    padding-right: 0; 
}

#navbar ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    padding: 0; 
    margin: 0;
    justify-content: space-around; 
}

#navbar ul li {
}

#navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px; 
    display: block; 
}

main {
    display: flex;
    flex-direction: column;
}

/* About Us section styles */
.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

/* Shop Now button moved out of About Us */
.button-shop-now {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px auto; /* Center horizontally and add margin above and below */
    cursor: pointer;
    border-radius: 10px;
}

/* Adjustments for Customer Review section if needed */
.customer-reviews {
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

/* Footer styles */
footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: white;
}
